MONGO_INITDB_ROOT_USERNAME=dinepilot
MONGO_INITDB_ROOT_PASSWORD=dinepilot
MONGO_PORT=27017

RABBITMQ_DEFAULT_USER=dinepilot
RABBITMQ_DEFAULT_PASS=dinepilot
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

EUREKA_PORT=8761
GATEWAY_PORT=8080
