### Local MongoDB installed on your PC with no auth
MONGO_PORT=27017

### MongoDB local database URIs
MONGO_URI_USER_SERVICE=mongodb://localhost:27017/user_db
MONGO_URI_RESTAURANT_SERVICE=mongodb://localhost:27017/restaurant_db
MONGO_URI_ORDER_SERVICE=mongodb://localhost:27017/order_db
MONGO_URI_RESERVATION_SERVICE=mongodb://localhost:27017/reservation_db
MONGO_URI_BILLING_SERVICE=mongodb://localhost:27017/billing_db  # Phase 6

RABBITMQ_DEFAULT_USER=dinepilot
RABBITMQ_DEFAULT_PASS=dinepilot
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_HOST=localhost  # Phase 7

EUREKA_PORT=8761
GATEWAY_PORT=8080

JWT_SECRET=change-this-to-a-long-random-secret-in-every-environment
USER_SERVICE_PORT=8081
RESTAURANT_SERVICE_PORT=8082
ORDER_SERVICE_PORT=8084
RESERVATION_SERVICE_PORT=8083
BILLING_SERVICE_PORT=8085  # Phase 6
